{% extends 'base.html' %}
{% block content %}

<h2>All Placement Drives</h2>

<table>

<tr>
<th>Company</th>
<th>Job Role</th>
<th>Deadline</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for drive in drives %}
<tr>
<td>{{ drive.company_name }}</td>
<td>{{ drive.job_role }}</td>
<td>{{ drive.application_deadline }}</td>
<td>{{ drive.status }}</td>

<td>
<a href="{{ url_for('approve_drive', drive_id=drive.id) }}">Approve</a>
<a href="{{ url_for('reject_drive', drive_id=drive.id) }}">Reject</a>
<a href="{{ url_for('delete_drive', drive_id=drive.id) }}">Delete</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}