{% extends 'base.html' %}
{% block content %}

<h1>Company Dashboard</h1>
<a href="{{ url_for('create_drive') }}" class="btn">Create Placement Drive</a>
<h2>Upcoming Drives</h2>
<table>
<tr>
<th>Drive</th>
<th>Status</th>
<th>Actions</th>
</tr>
{% for drive in upcoming_drives %}
<tr>
<td>{{ drive.job_role }}</td>
<td>{{ drive.status }}</td>
<td>
<a href="{{ url_for('view_drive', drive_id=drive.id) }}">
View Applicants
</a>

|
<a href="{{ url_for('complete_drive', drive_id=drive.id) }}">
Mark Complete
</a>
</td>
</tr>
{% endfor %}
</table>


<h2>Closed Drives</h2>
<table>
<tr>
<th>Drive</th>
<th>Status</th>
<th>Applicants</th>
</tr>
{% for drive in closed_drives %}
<tr>
<td>{{ drive.job_role }}</td>
<td>{{ drive.status }}</td>
<td>
<a href="{{ url_for('view_drive', drive_id=drive.id) }}">
View Applicants
</a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}