{%- extends 'base.html' -%}
{% block content %} 
<h1>Register for Placement Portal</h1>
<form method="post">
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="text" name="name" placeholder="Name" required><br><br>
    <select name="role" required>
        <option value="student">Student</option>
        <option value="company">Company</option>
    </select><br><br>
    <button type="submit">Register</button>
    <p><a href="http://127.0.0.1:5000/login">Already have an account? Login here</a></p>
</form> 
{% endblock %}