{% extends 'base.html' %}
{% block content %}
<h1>Student Dashboard</h1>
<a href="{{ url_for('student_profile') }}">Update Profile</a>

<h3>Approved Drives ({{ drives|length }})</h3>
<table border="1" style="width:100%; border-collapse: collapse;">
    <tr><th>Company</th><th>Job Role</th><th>Deadline</th><th>Action</th></tr>
    {% for drive in drives %}
    <tr>
        <td>{{ drive.company_name }}</td>
        <td>{{ drive.job_role }}</td>
        <td>{{ drive.application_deadline }}</td>
        <td>
        {% if drive.id in applied_drives %}
        Already Applied
        {% else %}
        <a href="{{ url_for('apply_drive', drive_id=drive.id)}}">Apply</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>My Applications</h3>
<table border="1" style="width:100%; border-collapse: collapse;">
    <tr><th>Job Role</th><th>Company</th><th>Status</th><th>Date</th></tr>
    {% for app in applications %}
    <tr>
        <td>{{ app.drive.job_role }}</td>
        <td>{{ app.drive.company_name }}</td>
        <td>{{ app.status }}</td>
        <td>{{ app.applied_on }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}