{% extends 'base.html' %}
{% block content %}
<h1>Student Profile</h1>
<form method="post">
    <label>Name:</label><br>
    <input type="text" name="name" value="{{ current_user.name }}" value="{{profile.name or ''}}"><br><br>
    
    <label>Roll Number (comma separated):</label><br>
    <input type="text" name="roll_number" value="{{ current_user.roll_number }}" required><br><br>
    
    <label>Department:</label><br>
    <input type="text" name="department" value="{{ current_user.department }}" required><br><br>
    <label>Year:</label>
    <input type="number" name="year_of_study" value="{{ profile.year_of_study or '' }}" required><br><br>

    <button type="submit">Update Profile</button>
</form>
{% endblock %}